<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Privacy Policy - Lanka Fresh Mart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<div class="container mt-4">
  <h2><i class="fa fa-shield-alt"></i> Privacy Policy</h2>
  <p>Last updated: September 17, 2025</p>
  <p>At Lanka Fresh Mart, we value your privacy. We collect the following data to process your orders:</p>
  <ul>
    <li>Name and email for account management and order notifications.</li>
    <li>Delivery address for shipping purposes.</li>
    <li>Payment details (secured with encryption) for transactions.</li>
  </ul>
  <p>We do not share your data with third parties except for delivery services. You can opt out of marketing emails via your account settings.</p>
  <a href="/register" class="btn btn-secondary mt-3"><i class="fa fa-arrow-left"></i> Back to Registration</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>